body {
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}


section {
    background-color: green;
}
